# Frontend
frontend/node_modules
frontend/.next
frontend/out

# Backend (separate repo)
backend/

# General
node_modules
.next
out
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local
